<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Single User</title>

</head>
<body>
    <header class="flex"><a class="anchor" href="/">UserData</a> <a href="/users" class="anchor">Back</a> </header>

       <h2 class="heading">Single User Details page</h2>
        <ul class="singleUserInfo">
               <li> <h4> <%= user.name %></h4> </li>
               <li><%= user.email %></li>
               <li><%= user.age %></li>
               <li><%= user.address %></li>
               <li><%= user.bio %></li>
               <li> <%= user.hobbies %></li>
        </ul>
         
  
       <a style="margin-right: 45px;" href="/users/<%= user.id%>/edit">Update User</a>
       <a href="/users/<%= user.id %>/delete">Delete User</a>
</body>
</html>